.nav {
    border: 2px solid green;
    padding: 0 25% 0 0;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.nav li {
    list-style: none;
}